{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Blog</h1>
        <p>This is a blog website where you can post your blogs for everyone to read them. Anyone can read your
            blogs and comment on them. But those comments can only be viewed by other people after they have
            been approved by you. After posting your blog first they go to Drafts. From there you can publish them
            for other users.</p>
        <p>This website is made by <b>Vatsal Agrawal</b></p>
    </div>
</div>
{% endblock %}